go 1.26.1

use (
	./api
	./bin
	./engine
	./models
	./omni-bridge
	./omni-cli-systems/golang
	./omni-runtime/core/testing_omni_framework/src
	./omni-runtime/net
	./omni-runtime/nexus-registry
	./omni-runtime/stdlib/go
	./omni_modules/omni-docs-nexus
	./tools/omnicli
	./tools/omnils
)